/*col small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  /*header start*/
    .menu ul li a {
        padding: 0px 0px !important; 
   }
   /*banner start*/
   .h1_one {
       font-size: 29px;
   }
   .p_one {
      font-size: 15px;
      padding-top: 30px;
      padding-bottom: 35px;
   }
   .b_one{
      font-size: 14px;
      padding: 12px 23px;
  }
  /*sevrice start*/
  .sevrice {
      padding-top: 50px;
      padding-bottom: 60px;
   }
   .h2_one {
      font-size: 25px;
   }
   .p_tow {
      font-size: 14px;
   }
  .p_t_80 {
     padding-top: 45px;
  }
  .s_icon{
     padding-bottom:15px;
     font-size: 35px;
  }
  .m_p_t{
     padding-top: 15px;
  }
  /*just relax*/
   .j_h2 {
    font-size: 24px;
   }
   .j_p {
    font-size: 14px;
   }
   .j_r ul li {
    font-size: 14px;
  }
  /*latest projectend*/
 .df_p {
    font-size: 14px;
  }
  .df_pn {
    font-size: 14px;
  }
 .mobile{
  display: none;
  }
 .d_f_w {
    text-align: center;
  }
  .df_p {
    padding: 15px 0;
    letter-spacing: 0px; 
  }
  .df_icon {
    font-size: 35px;
    padding-top: 15px;
  }
  .round_i img {
    display: none;
  }
  .con_h1 {
    font-size: 28px;
  }
  .m_b_20{
    margin-bottom: 30px;
  }
  .logo_4 {
    padding-bottom: 40px;
  }
  /*footer*/
  .sm_s{
    justify-content: center;
    text-align: center;
  }
  .sm_t{
    list-style: none;
  }
  .m_h3f {
    margin-top: 30px;
  }
  .f1, .f2{
  font-size: 14px;
  }
  .social_icon ul li a i {
    width: 30px;
    font-size: 30px;;
  }
  .r_p_c {
    font-size: 16px;
  }
  .f2 a{
    font-size: 14px;
  }
  .a_s{
    font-size: 14px;
  }
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
      /*header start*/
    .menu ul li a {
        padding: 0px 0px !important; 
   }
   /*banner start*/
   .h1_one {
       font-size: 35px;
   }
   .p_one {
      font-size: 16px;
      padding-top: 30px;
      padding-bottom: 35px;
   }
   .b_one{
    padding: 10px 16px!important;

  }
  /*sevrice start*/
  .h2_one{
     font-size:27px ;
   }
  .p_tow{
     font-size:16px ;
   }
   /*just relax*/
   .j_h2 {
    font-size: 24px;
   }
   .j_p {
    font-size: 14px;
   }
   .j_r ul li {
    font-size: 14px;
  }
  /*latest projectend*/
 .df_p {
    font-size: 14px;
  }
  .df_pn {
    font-size: 14px;
  }
 .mobile{
  display: none;
  }
 .d_f_w {
    text-align: center;
  }
  .df_icon {
    padding-top: 15px;
  }
  .df_p {
    padding: 15px 0;
    letter-spacing: 0px; 
  }
  .round_i img {
    display: none;
  }
  .con_h1 {
    font-size: 28px;
  }
  .m_b_20{
    margin-bottom: 25px;
  }
  .logo_4 {
    padding-bottom: 40px;
  }
  /*footer*/
  .sm_s{
    justify-content: center;
    text-align: center;
  }
  .sm_t{
    list-style: none;
  }
  .m_h3f {
    margin-top: 30px;
  }
  .social_icon ul li a i {
    font-size: 35px;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
   /*header start*/
    .menu ul li a {
        padding: 0px 0px !important; 
   }
   /*banner start*/
   .h1_one {
       font-size: 40px;
   }
   .p_one {
       font-size: 18px;
   }
  /*sevrice start*/
  .h2_one{
     font-size:33px ;
   }
  .p_tow{
     font-size:18px ;
   }
   .s_text{
     font-size:19px;
  }
  /*just relax*/
  .j_h2 {
    font-size: 28px;
  }
  .j_p {
     font-size: 14px; 

  }
  .j_r ul li {
    font-size: 14px;
  }
  .b_one {
    padding: 10px 15px;
  }
 /*latest projectend*/
 .df_p {
    font-size: 14px;
  }
  .df_pn {
    font-size: 14px;
  }
 .mobile{
  display: none;
 }
 .round_i img {
    display: none;
  }
  .m_b_20{
    margin-bottom: 20px;
  }
  .logo_4 {
    padding-bottom: 40px;
  }
  /*footer*/
  .f1, .f2{
    margin-bottom: 30px;
  }

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {

}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {

}